@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f1f5f9;
  color: #1e293b;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Sidebar Dark Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}

@media print {
  body * {
    visibility: hidden;
  }
  .receipt-print-area, .receipt-print-area * {
    visibility: visible;
  }
  .receipt-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
  }
  /* Optional: Optimize for thermal printer 80mm */
  @page {
    margin: 0;
  }
}
